@import "tailwindcss";

/* Custom styles */
body {
  overflow-x: hidden; /* Mencegah scroll horizontal akibat rotasi 3D */
}

/* Helper class untuk 3D wrapper */
.perspective-1000 {
  perspective: 1000px;
}